<div class="vertical-spacer"></div>

<div class="wrapper">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h1>SURF & CODE CAMP</h1>
        <h2>Venez kiffer vnR</h2>
        <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#applyModal">Enroll</a>
      </div>
    </div>
  </div>
</div>
<p>
  ça part de la!
</p>