/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap_override";
 body{
  font-family: 'Open Sans', sans-serif;
}

.vertical-spacer{
  height: 7em;
}

/*.box{
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  min-height: 250px;
  margin:20px 0;
}

.box:hover{
  border-color: grey;
}*/

footer{
  background-color: #222222;
  color: white;
  padding: 5px ; /*Hauteur du footer*/;
}

footer a {
  color: rgb(200, 200, 200);
  font-size: 20px;
}

footer a:hover{
  text-decoration: none;
  color: blue;
}
